:root {
    --background-color: rgb(30, 30, 30);
    --font-color1: rgb(255, 255, 255);
    --font-color2: rgb(169, 219, 250);
    --accent-color1: rgb(50, 50, 50);
    --accent-color2: rgb(40, 40, 40);
    --variable-color: rgb(142, 117, 162);
    --bool-color: rgb(193, 123, 65);

    --font-weight: 100;
    --logo-font-size: 25px;
    --sidebar-font-size: 13px;
    --heading-font-size: 100px;
    --paragraph-font-size: 25px;
}

html, body {
    margin: 0px;
    background-color: var(--background-color);
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

/* ========================= LOGO ========================= */

.logo {
    width: 100%;
    display: flex;
    padding: 12px 12px 12px 20px;
    background-color: var(--accent-color1);
}    

.logo a {
    width: fit-content;
    text-decoration: none;
    color: var(--font-color1);
    font-size: var(--logo-font-size);
}

/* ========================= SIDEBAR ========================= */

#sidebar {
    display: none;
    position: fixed;
    top: 0;
    flex-direction: column;
    background-color: var(--accent-color2);
    height: 100vh;
    width: 200px;
    padding: 0;
}

#sidebar-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: auto;
}

#logo-sidebar {
    width: 168px;
}

.sidebar-link {
    display: flex;
    width: 175px;
    padding: 5px 5px 5px 20px;
    color: var(--font-color1);
    font-size: var(--sidebar-font-size);
    text-decoration: none;

}

#sidebar a:hover {
    background-color: var(--accent-color1);
}

#sidebar-arrow-left {
    position: fixed;
    display: none;
    left: 200px;
    top: 50px;
}

#sidebar-arrow-right {
    position: fixed;
    display: block;
    left: 20px;
    top: 50px;
}

#sidebar-arrow-left button {
    background-color: transparent;
    border: none;
    color: var(--font-color1);
    font-family: inherit;
    font-size: 30px;
    font-weight: var(--font-weight);
    cursor: pointer;
    margin: 5px 0px 0px 5px;
    padding: 0px;
}

#sidebar-arrow-right button {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    background-color: transparent;
    border: none;
    color: var(--font-color1);
    font-family: inherit;
    font-size: 30px;
    font-weight: var(--font-weight);
    cursor: pointer;
    margin: 5px 0px 0px 0px;
    padding: 0px;
}

.current-page {
    color: var(--variable-color);
}

.true {
    color: var(--bool-color);
}

/* .sidebar-sublink {
    display: none;
    width: 155px;
    padding: 5px 5px 5px 40px;
} */

.experience-sublink {
    display: none;
    width: 155px;
    padding: 5px 5px 5px 40px;
}

.projects-sublink {
    display: none;
    width: 155px;
    padding: 5px 5px 5px 40px;
}

.sidebar-link-multi {
    display: flex;
}

.sidebar-link-multi button {
    color: var(--font-color1);
    font-family: inherit;
    font-weight: var(--font-weight);
    font-size: var(--sidebar-font-size);
    margin: 0;
    padding: 5px; 
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#minesweeper-tab {
    display: none;
}

/* ========================= PAGE HEADERS ========================= */

.page-header {
    display: flex;
    margin: 175px 50px 50px 350px;
}

.page-header h1 {
    color: var(--font-color1);
    font-weight: var(--font-weight);
    font-size: var(--heading-font-size);
    margin: 0px;
}

/* ========================= INDEX.HTML ========================= */

#index-paragraph {
    display: flex;
    margin: 50px 50px 50px 350px;
}

#index-paragraph p {
    color: var(--font-color1);
    font-weight: var(--font-weight);
    font-size: var(--paragraph-font-size);
    margin: 0px;
    padding: 0px 0px 0px 10px; 
}

#joke-paragraph {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 50px 350px;
}

#joke-paragraph p {
    color: var(--font-color1);
    font-weight: var(--font-weight);
    font-size: var(--paragraph-font-size);
    margin: 0px;
    padding: 10px 0px 0px 10px; 
}

#joke-paragraph button {
    color: var(--font-color1);
    font-family: inherit;
    font-weight: var(--font-weight);
    font-size: var(--paragraph-font-size);
    margin: 20px 0px 0px 10px;
    padding: 5px; 
    background-color: var(--accent-color1);
    border: none;
    cursor: pointer;
    pointer-events: auto;
}

#generate-joke {
    display: flex;
    flex-direction: row;
}

#generate-joke p {
    line-height: auto;
    font-size: 10px;
    padding: 40px 0px 0px 10px;
    vertical-align: bottom;
}

/* ========================= ABOUT.HTML ========================= */

#about-paragraph {
    display: flex;
    margin: 50px 50px 50px 350px;
}

#about-paragraph p {
    font-family: inherit;
    color: var(--font-color1);
    font-weight: var(--font-weight);
    font-size: var(--paragraph-font-size);
    margin: 0px 200px 0px 0px;
    padding: 0px 0px 0px 10px; 
}

#resume {
    display: flex;
    margin: 50px 50px 50px 350px;
}

#resume a {
    font-family: inherit;
    color: var(--font-color1);
    font-weight: var(--font-weight);
    font-size: var(--paragraph-font-size);
    margin: 0px 200px 0px 0px;
    padding: 0px 0px 0px 10px; 
    text-decoration: none;
}

/* ========================= EXPERIENCE.HTML ========================= */



/* ========================= PROJECTS.HTML ========================= */

#project-links {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 50px 350px;
}

#project-links a {
    font-family: inherit;
    color: var(--font-color1);
    font-weight: var(--font-weight);
    font-size: var(--paragraph-font-size);
    margin: 0px 200px 0px 0px;
    padding: 0px 0px 0px 10px; 
    text-decoration: none;
}

/* ========================= CONNECT.HTML ========================= */

#connect-links {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 50px 50px 350px;
}

#connect-links img {
    width: 100px;
    height: 100px;
}